# Dependencias
node_modules/

# Builds
dist/
dist-ssr/

# Archivos de entorno (tokens, claves, configuraciones locales)
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Configuración de editores
.vscode/*
!.vscode/extensions.json
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Otros temporales
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?